<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25000" />
		<setting name="logImpl" value="LOG4J2" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="account" type="cn.creditease.toolbox.entity.Account"/>
	</typeAliases>

	<typeHandlers>
		<typeHandler
			handler="cn.creditease.toolbox.typehandler.AccountCatagoryEnumHandler"
			javaType="cn.creditease.toolbox.enums.AccountCategoryEnum" />
			
		<typeHandler
			handler="cn.creditease.toolbox.typehandler.AssetTypeEnumHandler"
			javaType="cn.creditease.toolbox.enums.AssetTypeEnum" />
	</typeHandlers>


	<mappers>
		<mapper resource="toolbox-sqlmap/Account.xml" />
	</mappers>
</configuration>
