<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Account">
	<resultMap id="BaseResultMap" type="account">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="merchant_code" property="merchantCode" jdbcType="VARCHAR" />
		<result column="asset_type" property="assetType" jdbcType="TINYINT" />
		<result column="account_category" property="accountCategory" jdbcType="TINYINT" />
		<result column="balance" property="balance" jdbcType="DECIMAL" />
		<result column="valid_balance" property="validBalance" jdbcType="DECIMAL" />
		<result column="frozen_balance" property="frozenBalance" jdbcType="DECIMAL" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, 
		merchant_code,
		user_id,
		asset_type,
		account_category,
		balance,
		valid_balance,
		frozen_balance
	</sql>
	
	<select id="queryAccount" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List"/>
		from account
		<where>
			merchant_code=#{merchantCode, jdbcType=VARCHAR}
			and user_id=#{userId, jdbcType=VARCHAR}
			<if test="assetTypes != null">
				and asset_type in
				<foreach collection="assetTypes" item="item" open="(" separator="," close=")">
					#{item, jdbcType=TINGINT}
				</foreach>
			</if>
		</where>
	</select>
</mapper>